
    <div class="row workBox-container">
            <div class="span7 workBox">
                <button class="btn btn-small btn-primary" ng-click="setupScene()">Start</button>
                <button class="btn btn-small btn-primary" ng-click="start()">Step</button>
                <button class="btn btn-small btn-primary" ng-click="zoomPlus()">avanti</button>
                <button class="btn btn-small btn-primary" ng-click="zoomMinus()">indietro</button>
                <button class="btn btn-small btn-primary" ng-click="zoomSu()">Su</button>
                <button class="btn btn-small btn-primary" ng-click="zoomGiu()">Giu</button>
                <button class="btn btn-small btn-primary" ng-click="zoomSin()">Sin</button>
                <button class="btn btn-small btn-primary" ng-click="zoomDes()">Des</button>
                Collisions:<span id="collisions"></span>
                Force:<span id="force"></span>
                <div id="simularia" style="margin:30px;width:600px;height:600px;border: solid #d3d3d3 thin;"></div>


            </div>
    </div>




