{% let page_description = 'a three.js app-bp example' %}
{% let google_analytics = 'UA-33554066-1' %}
{% let site_name = '<span> Eban Software simularia</span>' %}
{% let angular_app_name = 'simularia' %}


{% block top_menu %}
    <li><a href="about">About</a></li>

{% endblock %}


{%  block footer %}
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="navbar-inner">
            <p class="pull-right">by <a href="http://ebansoftware.net">Andrea Parodi</a></p>
        </div>
    </div>
{%  endblock %}
