{% extends view_path("default_body_angular") %}

{% let page_title = 'Simularia' %}
{% let page_description = 'Gravity simulation' %}

{% include view_path("common") %}






{%  block body_content %}

      <h1>Simularia</h1>




{% endblock %}
